.effect{
    width: 815px;
}
.list-image{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 815px;
    gap: 5px;
    margin: 20px;
}
.image{
    width: 200px;
    height: 200px;
    border-radius: 8px;
}
.btn-load-more{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: #ccc;
    font-size: 15px;
    cursor: pointer;
}
.load-more{
    display: flex;
    text-align: center;
    justify-content: center;
}
.input{
    width: 300px;
    height: 40px;
    border-radius: 20px;
    margin-top: 40px;
    padding: 10px;
}
.contains{
    display: flex;
    text-align: center;
    justify-content: center;
}
.border-search{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}
.input-search{
    border: 1px solid black;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
}
.load-data{
    margin-left: 30px;
    margin-top: 30px;
}
.loadding{
    color:rgb(19, 87, 235);
}